extends nav.pug

block content
    .container 
        .add_wrapper
            form(action='/add_new_drug' method="POST" enctype="multipart/form-data" id="login-form" class="login-form" autocomplete="off" role="main")
                h1(class="a11y-hidden") Add new medicine
                div
                    label(class="label-email")
                        input(type="text" class="text" name="med_name" placeholder="Name of medicine" tabindex="1" )
                        span(class="required") Name of Medicine
                div
                    label(class="label")
                        input(type="number" class="text" name="real_price" placeholder="Before Price" tabindex="2")
                        span(class="required") Price
                        if(real_price_minus)
                            .discount_err Price cannot be negative
                    label(class="label")
                        input(type="number" class="text" name="discount" placeholder="Discount" tabindex="2")
                        span Discount
                        if(discountOver)
                            .discount_err discount should not over 100 lower 0
                    label(class="label")
                        textarea(class="text" name="about_med" placeholder="About medicine" rows="10" ).about_med
                    label(class="label")
                        span Medicine Image
                        input(type="file" class="image" name="image")
                input(type="submit" value="Add New")