extends nav.pug

block content
    .container
        .wrapper-content 
            .image-content 
                .each-image
                    img(src='https://archive.org/download/no-photo-available/no-photo-available.png', alt="image")
                    .price-wrapper 
                        h3 Price:
                        .price
                            p $34
            .each_blog-content
                h2.title sdf
                p.little-description sdfds
                .buttons 
                    a(href='').update Edit
                    a(type="button").delete Delete 