extends nav.pug

block content
    .image-wrapper
        .container
            .home-wrapper 
                .content-wrapper 
                    h2.home-title This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
                    .home-buttons 
                        a(href="/drugs").read-more find more 
                        a(href="/add_new_drug").add_new Add medicine